body, html {
    background-color: #0f0f10;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0f0f10d9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #303036;
    z-index: 1000; 
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.main {
    margin-top: 5em;
    padding: 2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img img {
    max-width: 100%;
    height: auto;
}
